Pandas

In [2]:
import numpy as np

In [4]:
import pandas as pd

In [23]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [24]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [25]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [26]:
pd.Series(my_data, labels) #Equivalent to the solution above

a    10
b    20
c    30
dtype: int64

In [27]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [28]:
pd.Series(d) #You can pass a dictionary to a pandas series

a    10
b    20
c    30
dtype: int64

In [29]:
d

{'a': 10, 'b': 20, 'c': 30}

In [30]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [31]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [32]:
ser2 = pd.Series([1,2,3,4],['USA','Germany','Italy','Japan'])

In [33]:
ser2

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [34]:
ser1['USA']

1

In [35]:
ser1[2]

3

In [37]:
ser3 = pd.Series(data=labels)

In [38]:
ser3

0    a
1    b
2    c
dtype: object

In [39]:
ser3[0]

'a'

In [40]:
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [41]:
ser2

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [ ]:
#Common point for all series is that they have labelled index and data point